@import "https://fonts.googleapis.com/css?family=Ubuntu+Mono";
.section {
  min-height: 700px;
}

.section--split {
  display: flex;
}
.section--split .proj--split {
  width: 49.5%;
  height: 100vh;
  display: inline-block;
  padding: 6rem 8%;
}
.section--split .proj--split .proj__details {
  width: 100%;
  border: none;
}
.section--split .proj--split .proj__details h2 {
  border-bottom: 2px solid #677487;
}

#port-page {
  background-color: #e4e4e4;
}
#port-page .nav--port {
  border: 3px solid #677487;
  background-color: #efefef;
}
#port-page .nav--port .hamburger div {
  background: #677487;
}
#port-page .nav-open--port {
  background-color: #efefef;
  border: 3px solid #677487;
}
#port-page .nav-open--port ul a {
  background-color: transparent;
  color: #677487;
}
#port-page .head {
  background-color: #677487;
  min-height: 100vh;
  color: #efefef;
}
#port-page .head a {
  background-color: #434b56;
  text-decoration: none;
  color: #fff;
}
#port-page .head .head__content {
  width: 900px;
  margin: auto;
  padding: 10rem 5%;
}
#port-page .head .head__content p {
  font-size: 20px;
  line-height: 40px;
  padding-left: 10px;
  border-left: 2px solid #434b56;
}
#port-page .head .head__title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #434b56;
  border-right: 2px solid #434b56;
  padding-right: 10px;
  padding-left: 8px;
  margin-bottom: 60px;
}
#port-page .head .head__title h1 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 8px;
  display: inline;
}
#port-page .head .head__title img {
  width: 112px;
  height: 100%;
  opacity: 0.87;
  margin-top: 20px;
}
#port-page .section--bg-two {
  background-color: #f2f2f2;
}
#port-page .section--bg-three {
  background-color: #d3d8de;
}

.proj {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  max-width: 1400px;
  margin: 0 auto;
  padding: 8rem 8%;
}
.proj .left {
  margin-right: 40px;
}
.proj .proj__img {
  width: 45%;
}
.proj .proj__img img {
  width: 100%;
  border: 5px solid rgba(0, 0, 0, 0.05);
}
.proj .proj__details {
  width: 55%;
  color: #515151;
  border-right: 2px solid #677487;
  padding-right: 10px;
}
.proj .proj__details h2 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 40px;
}
.proj .proj__details h3 {
  margin-bottom: 20px;
}
.proj .proj__details p {
  margin-bottom: 10px;
}

.proj__details.left {
  border: 0;
  border-left: 2px solid #677487;
  padding: 0;
  padding-left: 10px;
}

.buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: 40px;
}
.buttons .proj-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #677487;
  border: 2px solid #677487;
  width: 128px;
  height: 45px;
  margin-right: 20px;
  border-radius: 4px;
  transition: background-color ease 0.4s;
  -webkit-transition: background-color ease 0.4s;
}
.buttons .proj-btn img {
  margin-left: 8px;
  width: 20px;
}
.buttons .proj-btn:hover {
  background-color: #434b56;
}

#about-page a {
  background-color: #fa461e;
  text-decoration: none;
  color: #fff;
}
#about-page .nav--about {
  border: 3px solid #FA603C;
  background-color: #efefef;
}
#about-page .nav--about .hamburger div {
  background-color: #FA603C;
}
#about-page .head {
  background-color: #FA603C;
  min-height: 100vh;
  color: #efefef;
}
#about-page .head .head__content {
  width: 900px;
  margin: auto;
  padding: 6rem 5%;
}
#about-page .head .head__content p {
  font-size: 20px;
  line-height: 40px;
  padding: 0 15px;
  border-right: 2px solid #fa461e;
}
#about-page .head .head__title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #fa461e;
  border-left: 2px solid #fa461e;
  padding-right: 10px;
  padding-left: 8px;
  margin-bottom: 60px;
}
#about-page .head .head__title h1 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 8px;
  display: inline;
}
#about-page .head .head__title img {
  width: 100px;
  height: 100%;
  opacity: 0.87;
  margin-top: 6px;
}
#about-page .head .head__about {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
#about-page .head .head__about img {
  width: 300px;
  height: 300px;
  border: 3px solid #fa461e;
  border-radius: 50%;
}
#about-page .head .head__about--row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-bottom: 40px;
}
#about-page .section--bg-two {
  background-color: #f2f2f2;
}
#about-page .nav-open--about {
  background-color: #efefef;
  border: 3px solid #FA603C;
  color: #FA603C;
}
#about-page .nav-open--about ul a {
  background-color: transparent;
  color: #FA603C;
}

.contact-page .nav--contact {
  border: 3px solid #F6C54F;
  background-color: #efefef;
}
.contact-page .nav--contact .hamburger div {
  background-color: #F6C54F;
}
.contact-page .nav-open--contact {
  background-color: #efefef;
  border: 3px solid #F6C54F;
}
.contact-page .nav-open--contact ul a {
  background-color: transparent;
  color: #F6C54F;
}
.contact-page form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 0 15px 15px;
  margin: auto;
  border-right: 2px solid #f4b625;
}
.contact-page form * {
  outline: none;
}
.contact-page form input {
  font-size: 20px;
  color: #777;
  padding: 5px;
  width: 49%;
}
.contact-page form input:nth-child(1) {
  margin-right: 10px;
}
.contact-page form * {
  border: none;
}
.contact-page form .form__info {
  margin-bottom: 20px;
}
.contact-page form textarea {
  font-size: 20px;
  color: #777;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  padding: 5px;
  resize: none;
}
.contact-page form input[type=submit] {
  width: 90px;
  height: 40px;
  color: #fff;
  background-color: #f4b625;
  border: 2px solid #f4b625;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}
.contact-page form input[type=submit]:hover {
  background-color: #F6C54F;
}
.contact-page a {
  text-decoration: none;
  background-color: #f4b625;
  color: #fff;
}
.contact-page .head {
  background-color: #F6C54F;
  min-height: 100vh;
  color: #efefef;
}
.contact-page .head .head__content {
  width: 900px;
  margin: auto;
  padding: 6rem 5%;
}
.contact-page .head .head__content p {
  font-size: 20px;
  line-height: 40px;
  padding: 0 15px;
  margin-bottom: 65px;
}
.contact-page .head .head__title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f4b625;
  padding-right: 10px;
  padding-left: 8px;
  margin-bottom: 55px;
}
.contact-page .head .head__title h1 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 8px;
  display: inline;
}
.contact-page .head .head__title img {
  width: 79px;
  height: 100%;
  opacity: 0.87;
  margin-top: 11px;
}
.contact-page .head .head__about {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.contact-page .head .head__about img {
  width: 300px;
  height: 300px;
  border: 3px solid #fa461e;
  border-radius: 50%;
}
.contact-page .head .head__about--row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-bottom: 40px;
}
.contact-page .section--bg-two {
  background-color: #f2f2f2;
}

#form1 {
  background-color: orange;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Asap', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
}

#wheel-holder {
  position: relative;
  width: 610px;
  height: 610px;
  margin: 45px auto 0;
}

.name {
  background-color: white;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  left: 200px;
  top: 400px;
}

.name p {
  width: 100px;
  margin: 0 auto;
  color: orange;
}

text.inner-circle {
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
}

text.inner-circle-sub {
  font-style: italic;
}

.image_style {
  opacity: 0.45;
}

#about-icon {
  opacity: 0.45;
  transform-origin: center;
  transform: rotate(300deg);
}

#work-icon {
  opacity: 0.45;
}

#contact-icon {
  opacity: 0.45;
  transform-origin: center;
  transform: rotate(59deg);
}

.arc:hover {
  opacity: 0.85;
}

svg {
  opacity: 0;
}

@-moz-keyframes rotatecircle /*--for firefox--*/ {
  from {
    -moz-transform: rotate(35deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes rotatecircle /*--for webkit--*/ {
  from {
    -webkit-transform: rotate(35deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes leavehome {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-35deg);
  }
}
@-webkit-keyframes leavehome {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-35deg);
  }
}
.title-container {
  position: absolute;
  width: 40px;
  margin: 0 auto;
  z-index: -1000;
  height: 307px;
  left: 290px;
  top: 4px;
  font-size: 0;
  transform-origin: bottom center;
}
.title-container span {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 45px;
  color: #555;
  position: absolute;
  margin: 0 auto;
  height: 118%;
  top: -50px;
  left: 5px;
  transform-origin: bottom center;
  text-transform: uppercase;
}

/* section animation features */
/* WORK TITLE ANIMATION */
@-webkit-keyframes rotatework {
  from {
    -webkit-transform: rotate(203deg);
  }
  to {
    -webkit-transform: rotate(223deg);
  }
}
@-webkit-keyframes unrotatework {
  from {
    -webkit-transform: rotate(223deg);
  }
  to {
    -webkit-transform: rotate(203deg);
  }
}
@-moz-keyframes rotatework {
  from {
    -moz-transform: rotate(203deg);
  }
  to {
    -moz-transform: rotate(223deg);
  }
}
@-moz-keyframes unrotatework {
  from {
    -moz-transform: rotate(223deg);
  }
  to {
    -moz-transform: rotate(203deg);
  }
}
/* CONTACT TITLE ANIMATION */
@-webkit-keyframes rotatecontact {
  from {
    -webkit-transform: rotate(68deg);
  }
  to {
    -webkit-transform: rotate(88deg);
  }
}
@-webkit-keyframes unrotatecontact {
  from {
    -webkit-transform: rotate(88deg);
  }
  to {
    -webkit-transform: rotate(68deg);
  }
}
@-moz-keyframes rotatecontact {
  from {
    -moz-transform: rotate(68deg);
  }
  to {
    -moz-transform: rotate(88deg);
  }
}
@-moz-keyframes unrotatecontact {
  from {
    -moz-transform: rotate(88deg);
  }
  to {
    -moz-transform: rotate(68deg);
  }
}
/* ABOUT WORK SECTION */
@-webkit-keyframes rotateabout {
  from {
    -webkit-transform: rotate(317deg);
  }
  to {
    -webkit-transform: rotate(337deg);
  }
}
@-webkit-keyframes unrotateabout {
  from {
    -webkit-transform: rotate(337deg);
  }
  to {
    -webkit-transform: rotate(317deg);
  }
}
@-moz-keyframes rotateabout {
  from {
    -moz-transform: rotate(317deg);
  }
  to {
    -moz-transform: rotate(337deg);
  }
}
@-moz-keyframes unrotateabout {
  from {
    -moz-transform: rotate(337deg);
  }
  to {
    -moz-transform: rotate(317deg);
  }
}
.about-title {
  margin: 0;
}
.about-title .char2 {
  transform: rotate(5deg);
}
.about-title .char3 {
  transform: rotate(10deg);
}
.about-title .char4 {
  transform: rotate(15deg);
}
.about-title .char5 {
  transform: rotate(20deg);
}

.contact-title .char2 {
  transform: rotate(5deg);
}
.contact-title .char3 {
  transform: rotate(10deg);
}
.contact-title .char4 {
  transform: rotate(15deg);
}
.contact-title .char5 {
  transform: rotate(20deg);
}
.contact-title .char6 {
  transform: rotate(25deg);
}
.contact-title .char7 {
  transform: rotate(30deg);
}

.work-title .char2 {
  transform: rotate(5deg);
}
.work-title .char3 {
  transform: rotate(10deg);
}
.work-title .char4 {
  transform: rotate(15deg);
}

.work-container {
  opacity: 0;
}

.contact-container {
  opacity: 0;
}

.about-container {
  opacity: 0;
}

.nav {
  z-index: 10000;
  position: fixed;
  border: 3px solid #ccc;
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px 0 0 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav .hamburger .hamburger-mid {
  margin: 6px 0;
}
.nav .hamburger div {
  background-color: #ccc;
  width: 35px;
  height: 4px;
  border-radius: 10%;
  text-align: center;
}

.nav:hover {
  opacity: 0.8;
}

.nav-open {
  position: fixed;
  border: 3px solid #ccc;
  padding: 0 15px 0 70px;
  margin: 10px 0 0 10px;
  height: 140px;
  background-color: #fff;
  border-radius: 5%;
  border-top-left-radius: 20%;
  display: none;
}
.nav-open ul {
  list-style: none;
  margin-top: 10px;
}
.nav-open ul li {
  margin-bottom: 7px;
  font-size: 20px;
}
.nav-open ul a {
  text-decoration: none;
  color: #aaa;
  transition: text-decoration 0.5s;
  -webkit-transition: text-decoration 0.5s;
}
.nav-open ul a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style2.css.map */
