
@import 'portfolio.scss';
@import 'about.scss';
@import 'contact.scss';
@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono';

@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-row {
    -webkit-flex-direction: row;
    flex-direction: row;    
}

@mixin flex-column {
    -webkit-flex-direction: column;
    flex-direction: column;    
}

@mixin flex-row-reverse {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;    
}

@mixin flex-column {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;    
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Asap', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    list-style: none;
}

        
html {
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

a {
  text-decoration: none;
}

#wheel-holder {
  position: relative;
  width: 610px;
  height: 610px;
  margin: 45px auto 0;
}

.name {
  background-color: white;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  left: 200px;
  top: 400px;
}

.name p {
  width: 100px;
  margin: 0 auto;
  color: orange;
}

text.inner-circle {
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
}

text.inner-circle-sub {
  font-style: italic;
}

.image_style {
  opacity: 0.45;
}

#about-icon {
  opacity: 0.45;
  transform-origin: center;
  transform: rotate(300deg);
  
}

#work-icon {
  opacity: 0.45;
}

#contact-icon {
  opacity: 0.45;
  transform-origin: center;
  transform: rotate(59deg)
}


.arc:hover {
  opacity: 0.85;
}

svg {

  opacity: 0;
}

@-moz-keyframes rotatecircle /*--for firefox--*/ {
  from {
    -moz-transform: rotate(35deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes rotatecircle /*--for webkit--*/ {
  from {
    -webkit-transform: rotate(35deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes leavehome {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-35deg);
  }
}
@-webkit-keyframes leavehome {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-35deg);
  }
}
.title-container {
    position: absolute;
    width: 40px;
    margin: 0 auto;
    z-index: -1000;
    height: 307px;
    left: 290px;
    top: 4px;
    font-size: 0;
    transform-origin: bottom center;
    //border: 1px solid black;

  	h3 {
  	 // font-size: 50px;
  	 // color: #555;
  	 // position: absolute;
  	 // margin: 0 auto 15px auto;
  	 // padding-bottom: 288px;
  	 // top: -55px;
  	 // left: -77px;
  	 // transform-origin: bottom center;
  	 // text-transform: uppercase;
  	  //transform: rotate(180deg);
  	}
  	  
	  span {
      font-family: 'Ubuntu Mono', monospace;
      font-size: 45px;
      color: #555;
      position: absolute;
      margin: 0 auto;
      height: 118%;
      top: -50px;
      left: 5px;
      transform-origin: bottom center;
      text-transform: uppercase;
	  }
}



/* section animation features */  

/* WORK TITLE ANIMATION */
@-webkit-keyframes rotatework {
  from {
    -webkit-transform: rotate(203deg);
  }
  to {
    -webkit-transform: rotate(223deg);
  }
}
@-webkit-keyframes unrotatework {
  from {
    -webkit-transform: rotate(223deg);
  }
  to {
    -webkit-transform: rotate(203deg);
  }
}

@-moz-keyframes rotatework {
  from {
    -moz-transform: rotate(203deg);
  }
  to {
    -moz-transform: rotate(223deg);
  }
}
@-moz-keyframes unrotatework {
  from {
    -moz-transform: rotate(223deg);
  }
  to {
    -moz-transform: rotate(203deg);
  }
}

/* CONTACT TITLE ANIMATION */

@-webkit-keyframes rotatecontact {
  from {
    -webkit-transform: rotate(68deg);
  }
  to {
    -webkit-transform: rotate(88deg);
  }
}
@-webkit-keyframes unrotatecontact {
  from {
    -webkit-transform: rotate(88deg);
  }
  to {
    -webkit-transform: rotate(68deg);
  }
}

@-moz-keyframes rotatecontact {
  from {
    -moz-transform: rotate(68deg);
  }
  to {
    -moz-transform: rotate(88deg);
  }
}
@-moz-keyframes unrotatecontact {
  from {
    -moz-transform: rotate(88deg);
  }
  to {
    -moz-transform: rotate(68deg);
  }
}

/* ABOUT WORK SECTION */

@-webkit-keyframes rotateabout {
  from {
    -webkit-transform: rotate(317deg);
  }
  to {
    -webkit-transform: rotate(337deg);
  }
}
@-webkit-keyframes unrotateabout {
  from {
    -webkit-transform: rotate(337deg);
  }
  to {
    -webkit-transform: rotate(317deg);
  }
}

@-moz-keyframes rotateabout {
  from {
    -moz-transform: rotate(317deg);
  }
  to {
    -moz-transform: rotate(337deg);
  }
}
@-moz-keyframes unrotateabout {
  from {
    -moz-transform: rotate(337deg);
  }
  to {
    -moz-transform: rotate(317deg);
  }
}




.about-title {
  margin: 0;  

  //.char1 {transform: rotate();}
  .char2 {transform: rotate(5deg);}
  .char3 {transform: rotate(10deg);}
  .char4 {transform: rotate(15deg);}
  .char5 {transform: rotate(20deg);}
}

.contact-title {
  
  //.char1 {transform: rotate(deg);}
  .char2 {transform: rotate(5deg);}
  .char3 {transform: rotate(10deg);}
  .char4 {transform: rotate(15deg);}
  .char5 {transform: rotate(20deg);}
  .char6 {transform: rotate(25deg);}
  .char7 {transform: rotate(30deg);}
}

.work-title {
  
  //.char1 {transform: rotate(201deg);}
  .char2 {transform: rotate(5deg);}
  .char3 {transform: rotate(10deg);}
  .char4 {transform: rotate(15deg);}
}
  	
  	


.work-container {
  opacity: 0;
}

.contact-container {
  opacity: 0;
}

.about-container {
  opacity: 0;
}

.nav {
  z-index: 10000;
  position: fixed;
  border: 3px solid #ccc;
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px 0 0 10px;
  @include flex;
  //@include flex-column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  .hamburger {
    .hamburger-mid {
      margin: 6px 0;
    }
    
    div {
      background-color: #ccc;
      width: 35px;
      height: 4px;
      border-radius: 10%;
      text-align: center;
    }
  }
}


.nav:hover {
  opacity: 0.8;
}
.nav-open {
  position: fixed;
  border: 3px solid #ccc;
  padding: 0 15px 0 70px;
  margin: 10px 0 0 10px;
  height: 140px;
  background-color: #fff;
  border-radius: 5%;
  border-top-left-radius: 20%;
  display: none;
  
  ul {
    list-style: none;
    margin-top: 10px;
    
    li {
      margin-bottom: 7px;
      font-size: 20px;
    }
    a {
      text-decoration: none;
      color: #aaa; 
      transition: text-decoration 0.5s;
      -webkit-transition: text-decoration 0.5s;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}