* {
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: 'Droid Sans Mono', monospace;
}

body {
    background-color: #151515;
    height: 100vh;
}

#header {
    width: 100%;
    height: 40px;
    text-align: center;
    position: fixed;
}

#anim-selector {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    background-color: #131b20;
}

.btn-container {
    position: relative;
    text-align: center;
    margin: auto;
}

.anim-btn {
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: #293843;
    font-size: 15px;
    color: #ccc;
    margin: 0 15px;
}

.anim-btn, p {
    text-align: center;
    font-size: 15px;
    color: #ccc;
    margin-bottom: 15px;
}

h1 {
    font-size: 50px;
    color: #ccc;
}

#main__head {
  /*display: none;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh; }

#name {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  /*opacity: 0; */
  
}

#shawn {
  position: relative;
  right: 55px;
  bottom: 80px;
  opacity: 0; }

#sten {
  position: relative; }

#house {
  position: relative; }

img {
  position: relative; }

#last-name {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  position: relative;
  right: -65px;
  bottom: -50px;
  opacity: 0; }
  

.anim {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: -10000px;
}
  
  
#anim__one {
  background-color: orange;
}

#anim__two {
  background-color: blue;
}
  
#anim__three {
  background-color: green;
}
  
/*path one 2013.522705078125*/
/*animation.js:123 path two 859.215576171875*/
/*animation.js:124 path three 2693.48974609375*/
  
#path-one {
  stroke-dasharray: 2013.522705078125;
  stroke-dashoffset: 2013.522705078125;
  /*animation: dash 15s linear forwards;*/
  animation: dash 15s linear indefinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2013.522705078125;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rev-dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2013.522705078125;
  }
}


#path-two {
  stroke-dasharray: 859.215576171875;
  stroke-dashoffset: 859.215576171875;
  animation: dash-two 15s linear indefinite;
}

@keyframes dash-two {
  from {
    stroke-dashoffset: 859.215576171875;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rev-dash-two {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 859.215576171875;
  }
}


#path-three {
  stroke-dasharray: 2693.48974609375;
  stroke-dashoffset: 2693.48974609375;
  animation: dash-three 15s linear indefinite;
}

@keyframes dash-three {
  from {
    stroke-dashoffset: 2693.48974609375;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rev-dash-three {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 2693.48974609375;
  }
}